@font-face {
	font-family: Sahel-VF;
	src: url('https://cdn.jsdelivr.net/npm/sahel-font@3.4.0/dist/Sahel-VF.woff2');
}
html,
body {
	font-family: Sahel-VF, var(--bs-font-sans-serif);
	font-variation-settings: 'wght' var(--bs-body-font-weight);
}
body {
	overflow-x: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	flex-grow: 1;
	background-color: var(--bs-light);
}
.header {
	z-index: 1030;
}
// index page
.swiper {
	width: 100%;
	height: 500px;
}
.landing-filter--image {
	filter: brightness(0.6);
}
// index page
// contact page
.contact-map {
	height: 300px;
	@media screen and (min-width: 768px) {
		height: 450px;
	}
	@media screen and (min-width: 992px) {
		height: 600px;
	}
}
.contact-detail {
	margin-top: -9rem;
}
// contact page
// rules page
.rules-list {
	::marker {
		font-size: calc(1.3rem + 0.6vw);
	}
}
// rules page
// blog page
.blog-top {
	top: calc(56px + 1.5rem);
}
// blog page
.breadcrumb-custom {
	background-color: var(--bs-gray-200);
}
