.fw-lighter {
	font-variation-settings: 'wght' 200;
	font-weight: unset !important;
}
.fw-light,
.lead,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	font-variation-settings: 'wght' 300;
	font-weight: unset !important;
}
.fw-normal,
.form-control,
.form-select,
.input-group-text,
.btn,
.btn-link,
.dropdown-item,
.tooltip,
.popover {
	font-variation-settings: 'wght' 400;
	font-weight: unset !important;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	font-variation-settings: 'wght' 500;
	font-weight: unset !important;
}
.fw-semibold {
	font-variation-settings: 'wght' 600;
	font-weight: unset !important;
}
.fw-bold,
dt,
kbd kbd,
.badge,
.alert-link {
	font-variation-settings: 'wght' 700;
	font-weight: unset !important;
}
b,
strong,
.fw-bolder {
	font-variation-settings: 'wght' 800;
	font-weight: unset !important;
}
.line-clamp-1 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
ol {
	list-style-type: persian;
}
